@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Vidaloka&display=swap');




*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
section{
    min-height: 100vh;
    width: 95%;
    display: flex;
}




html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Vidaloka', serif;
    background-image: url("https://cdn.wallpapersafari.com/68/6/uHg9PN.jpg");
    width: 80%;
}


h2{
    margin-left:150px; 
    text-align: left;
    margin-bottom: 0%;
    margin-top: 50px;
    font-size:70px;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    
}
h1{
    margin-left:150px; 
    text-align: left;
    margin-top: 0%;
    font-size:75px;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    
}

p{
    color: rgb(22, 21, 21);
    margin-left:150px; 
    font-size: 20px;
}


button{
    border-radius: 25px;
    color: white;
    background-color: #34880e;
    margin-left: 20px;
    font-size: 16px;
    position: absolute;
    top: 115%;
    left: 20%;
    width: 55px;
    height: 45px;
    border: none;
}


.nav1{
    background-color: #abdb84;
    position: absolute;
    bottom: 93%;
    left: -2%;
    width: 101%;
  
    
}

header li{
    text-decoration: none;
    display: inline-block;
    margin: 0 25px 0 25px;

}
#links1{
    position: absolute;
    bottom: 40%;
    right: 70%;
    text-decoration: none;
    

}
#links{
    float: right;

}
header img{
    width: auto;
    height: 70px;
}
header i{
   margin-left: 0px;
   margin-right: 0px;

}







nav{
    bottom: 82%;
    padding-left: 10%;
    margin-top: 0;
    position: absolute;
    left:20%;
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;

}
nav li{
    display: inline-block;
    margin: 0 50px 0 25px;

}
nav a{
    color: rgb(8, 102, 8);
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
.a-block w-50{
    position: absolute;
    float: right;
    height: 50%;
    width: 30%;
    bottom: 30%;
    left: 60%;
    border-color: black;
}
.PUP {
    position: absolute;
    float: right;
    height: 50%;
    width: 30%;
    bottom: 30%;
    left: 60%;
    border-color: black;


}



.carousel-inner{
    position: absolute;
    

    bottom: 32%;
    left: 60%;
    border-color: black;


}


.clouds {
    float: right;
    max-width: 80%;
    height: 50%;
    margin-bottom: 0%;
    position: absolute;
    clear: both;
    justify-content: center;
    margin-top: 8rem;
    background-color: none;
    display: flex;
    align-items: center;
    bottom: 22%;
    right: 71%;
    
}
header{
    width: 70%;
    margin-right: 20%;
    margin-top: 7rem;
    position: absolute;
    bottom:35%;
    margin-left: 30px;
    left: 15%;
}
#logo{
    background-color: none;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 66%;
    right:81%;

}
.arrow{
    height: 160px;
    width: 150px;
    position:absolute;
    left: 35%;
    bottom: 30%;
}

.design{
    width: 15%;
    height: 20%;
    position: absolute;
    float: left;
    left: 24%;
    bottom: 50%;
    object-fit: contain;
}
.home{
    position:absolute;
    left: -1%;
    top:0%;
    width: 12%;
    color:#0c0c0c ;
    background-color: #abdb84;
    border: #0c0c0c solid 1px;

}
.sign_in{
    position:absolute;
    left: 110%;
    top:0%;
    width: 15%;
}
.i {
    position:absolute;
    left:64%;
    top: 30%;
}
ul input{
    border-radius: 25px;
    border:1px solid black;
    outline: none;
    padding: 0 25px;
    height: 45px;
    left: 4%;
    top: 60%;
    position: relative;
    width: 350px;
    
    
}
#bg{
    position: absolute;
    bottom: auto;
}
.scrolldown{
    position: absolute;
    left: 35%;
    top: 160%;

}
.scrolldown2{
    position: absolute;
    left: 42%;
    top: 160%;

}

.donate{
    width: 185px;
}
.tag{
    position: absolute;
    bottom: 0%;
    width: 43%;
    left: 53%;
    max-height: 100vh;
    font-size: 25px;
    color: white;
    background: linear-gradient(90deg, rgb(4, 43, 30) 2%, rgba(175,219,150,1) 100%);
}
.tag input{
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0 25px;
    height: 45px;
    left: 34%;
    top: 71%;
    position: inherit;
    width: 350px;
    

}
.tag button{
    border-radius: 25px;
    color: white;
    background-color: green;
    margin-left: 20px;
    font-size: 16px;
    position: inherit;
    top: 71%;
    left: 75%;
    width: 90px;
    height: 45px;

}
.tag h2{
    font-size: 28px;
    color: #0c0c0c;
    font-family: 'Sue Ellen Francisco';
    position: relative;
    left: 0%;
    bottom: 40px;
    font-weight:inherit;
}
.tag h1{
    color:#0c0c0c;
    font-weight: lighter;
    font-size: 30px;
    position: relative;
    left: 10%;
    bottom: 70px;
    box-shadow: none;
}
.tag p{
    font: 16px;
    color: white;
    position:relative;
    left: 0%;
    bottom: 80px;

}

/* #section2{
    max-width: 100%;
    height: 400vh;
} */
#section2 .scroll_down2{
    height: 40px;
    width: 40px;
    border: 2px solid #d7eea1;
    border-radius: 90px;
    position:absolute;
    left: 50%;
    top: 160%;
    cursor: pointer;
    
}


.container{
    width: 100%;
    max-height: 100vh;
    display: flex
}
.swiper {
    width: 60%;
    height: 50%;
    position:relative;
    left: 47%;
    top:24%;
  }

.swiper-slide img{
    height: 100%;
    max-width: 140%;
    bottom: 70%;
    left: 50%;
    padding: 0px;
    background: rgba(0,0,0,0.3);
    background: blur(10px);
    background-repeat: no-repeat;
}
.swiper .swiper-button-prev {
    position: absolute;
    right: 40%;
    color: #cdf095 ;
}
.swiper .swiper-button-next{ 
    
    position: absolute;
    left: 95%;
    color: #cdf095 ;

}
.font{
    position: absolute;
    bottom: 35%;
    right: 80%;
}
#base{
    background-size: cover;
    position: absolute;
    bottom: 8%;
    left:0%;
    right: 50%;
    width: 197.6vh;
    height: 84vh;
}
