@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Vidaloka&display=swap');




*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;

}




html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Vidaloka', serif;
    background-size: cover;
    background-image: url("/Project FE/Home_Page/Media/bg.png");
}
#base{
    background-size: cover;
    position: absolute;
    bottom: 5%;
    left:0%;
    right: 50%;
    width: 250vh;
    height: 120vh;
}

h2{
    margin-left:150px; 
    text-align: left;
    margin-bottom: 0%;
    margin-top: 50px;
    font-size:60px;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    
}
h1{
    margin-left:150px; 
    text-align: left;
    margin-top: 0%;
    font-size:65px;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    
}

p{
    color: rgb(22, 21, 21);
    margin-left:150px; 
    font-size: 20px;
}


button{
    border-radius: 25px;
    color: white;
    background-color: #0eb408;
    margin-left: 40px;
    font-size: 16px;
    position: absolute;
    top: 90%;
    left: 9%;
    width: 55px;
    height: 45px;
}
nav{
    bottom: 90%;
    padding-left: 10%;
    margin-top: 0;
    position: absolute;
    left:20%;
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;

}
nav li{
    display: inline-block;
    margin: 0 50px 0 25px;

}
nav a{
    color: rgb(8, 102, 8);
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}
.a-block w-50{
    position: absolute;
    float: right;
    height: 50%;
    width: 30%;
    bottom: 30%;
    left: 60%;
    border-color: black;
}
.PUP {
    position: absolute;
    float: right;
    height: 50%;
    width: 30%;
    bottom: 30%;
    left: 60%;
    border-color: black;


}



.carousel-inner{
    position: absolute;
    

    bottom: 32%;
    left: 60%;
    border-color: black;


}
.clouds {
    float: right;
    max-width: 80%;
    height: 50%;
    margin-bottom: 0%;
    position: absolute;
    clear: both;
    justify-content: center;
    margin-top: 8rem;
    background-color: none;
    display: flex;
    align-items: center;
    bottom: 34%;
    right: 55%;
    
}
header{
    width: 70%;
    margin-right: 20%;
    margin-top: 7rem;
    position: absolute;
    bottom:40%;
    margin-left: 30px;

    left: 15%;
}
#logo{
    background-color: none;
    margin-right: 1rem;
    max-width: 100%;
    height: auto;
    float: top;
    position: absolute;
    bottom: 100%;
    right:90%;

}
.arrow{
    height: 160px;
    width: 150px;
    position:absolute;
    left: 49%;
    bottom: 40%;
}
.scroll_down{
    height: 40px;
    width: 40px;
    border: 2px solid #d7eea1;
    border-radius: 90px;
    position:absolute;
    left: 50%;
    top: 160%;
    cursor: pointer;
}
.scroll_down::before,
.scroll_down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border:2px solid #d9ee9f;
    height: 11px;
    width: 10px;
    transform:translate(-50%,-50%) rotate(45deg);
    border-top:transparent;
    border-left: transparent;
    animation: scroll_down 1s ease-in-out infinite;

}
.scroll_down::after{
    top:30%;

}
@keyframes scroll_down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}
.design{
    width: 15%;
    height: 20%;
    position: absolute;
    float: left;
    left: 36%;
    bottom: 59%;
    object-fit: contain;
}
.sign_in{
    position:absolute;
    left: 78%;
    top:0%;
    width: 12%;
}
.i {
    position:absolute;
    left:108%;
    top: 30%;
}
ul input{
    border-radius: 25px;
    border:1px solid black;
    outline: none;
    padding: 0 25px;
    height: 45px;
    left: 40%;
    top: 60%;
    position: relative;
    
    
}
#bg{
    position: absolute;
    bottom: auto;
}
.scrolldown{
    position: absolute;
    left: 35%;
    top: 160%;

}
.scrolldown2{
    position: absolute;
    left: 42%;
    top: 160%;

}
.emergency{
    position: absolute;
    bottom: 20%;
    width: 30%;
    height: auto;
    left: 60%;
}
.donate{
    width: 150px;
}
.tag{
    position: absolute;
    bottom: 23%;
    width: 30%;
    height: auto;
    left: 53%;
    font-size: 25px;
    text-align: center;
    color: white;
    font-style: bold;
    font-weight: bold;
}
.Slide_Up{
    position: absolute;
    bottom: 50%;
    width: auto;
    height: auto;
    left: 85%;
    color: white;
    border-radius: 30px;

}
.Slide_Up1{
    position: absolute;
    bottom: 49%;
    width: auto;
    height: auto;
    right: 35%;
    color: white;
    border-radius: 30px;

}
#section2{
    max-width: 100%;
    height: 400vh;
}
#section2 .scroll_down2{
    height: 40px;
    width: 40px;
    border: 2px solid #d7eea1;
    border-radius: 90px;
    position:absolute;
    left: 50%;
    top: 160%;
    cursor: pointer;
    
}

.Slide_Up:hover,
.Slide_Up1:hover{
    background-color: rgba(0,0,0,0.5);
    text-shadow: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex
}
.swiper {
    width: 920px;
    height: 430px;
    position:relative;
    left: 34%;
    top:24%;
  }
.swiper-slide img{
    height: 100%;
    max-width: 100vh;
    top: 80%;
    left: 70%;
    border-color: black;

}
.swiper .swiper-button-prev {
    width: 5%;
    position: absolute;
    right: 40%;
    color: #cdf095 ;
}
.swiper .swiper-button-next{ 
    width: 38%;
    position: absolute;
    left: 40%;
    color: #cdf095 ;

}


